@media screen and ( max-width : 1200px ) {
    #hero p {
        font-size: .9rem;
    }

    #hero h1 {
        font-size: 2.3rem;
    }
}

@media (max-width: 768px) {
    #hero .order-1{
        text-align: center;
        justify-content: center;
    }
    #hero p{
        font-size: 0.7rem;
    }
    #hero a{
        font-size: 0.8rem;
    }
    #hero h1{
        font-size: 1.2rem;
    }
    #skill h3 {
        justify-content: center;
        margin-left: -49px;

    }
    #hero {
        text-align: center;
        justify-content: center;

    }
    #hero .row{
        position: relative;
    }
    #hero img {
        width: 50%;
    }
    
    .social-icon {
        left: 50%;
        transform: translate(-50%);
    }
    
    #hero .row {
        padding-bottom: 75px;
    }

    .btn-custom1 {
        width: 80%;
    }

    #about p {
        text-align: justify !important;
    }

    #skill .card h3 {
        font-size: 1.1rem;
        width: 390px;
    }

    #skill .card {
        padding-left: 30px !important;
        padding-right: 30px !important;
        margin-top: 20px;
    }
    #portofolio .col-md-12 {
        flex-direction: column;
    }
}

@media screen and ( max-width : 576px ) {
    hr {
        width: 75%;
    }

    h1 {
        font-size: 2rem !important;
    }

    footer img {
        width: 75px;
    }

    footer p {
        font-size: .8rem;
    }


}
 
@media screen and ( max-width : 400px ) {
    #hero .order-1 {
        text-align: center;
        justify-content: center;
    }

    #skill p {
        font-size: small;
    }
    #hero {
        text-align: center;
        justify-content: center;

    }
    #skill p{
        text-align: justify !important;
    }
    #skill .card {
        width: auto !important;

    }
    #hero .row {
        padding-bottom: 90px;
        position: relative;
    }
    #portofolio .col-md-12 {
        flex-direction: column;
    }
    .cv {
        font-size: 13px;
    }
    
}
